<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/homestyle.css" />
  </head>
  <body>
    <div class="container">
      <form
        id="searchForm"
        class="form"
        action="javascript:void(0)"
        method="post"
      >
        <input id="searchInput" type="text" name="search" value="" />
        <input id="searchButton" type="submit" value="Search Concerts" />
      </form>
    </div>
    <div id="logoutContainer" class="container">
      <form class="form" action="/home/logout" method="post">
        <input id="logoutButton" type="submit" value="Logout" />
      </form>
    </div>
    <div class="usernameContainer">
      <p>Username: <%= userData.username %></p>
    </div>
    <div class="updateUsernameContainer">
      <p id="updateUsernameLink">Update Username</p>
      <form
        action="/users/update_username"
        method="POST"
        class="updateUsernameForm"
      >
        <input
          type="text"
          name="newUsername"
          placeholder="Enter new username"
          required
        />
        <button type="submit">Update</button>
      </form>
    </div>
    <div class="mainContainer">
      <div class="leftContainer">
        <div class="headerContainer">
          <h1>My Concerts</h1>
        </div>
        <% concerts.forEach((concert) => { %>
        <div class="concertItem">
          <span><%= concert.concert.name %></span>
          <form
            action="/linkedUserConcerts/delete_linkedUserConcerts"
            method="POST"
            class="removeConcertForm"
          >
            <input
              type="hidden"
              name="concertId"
              value="<%= concert.concert.id %>"
            />
            <button type="submit" class="removeConcertButton">
              Remove Concert
            </button>
          </form>
        </div>
        <% }) %>
      </div>
      <div class="rightContainer">
        <div class="headerContainer">
          <h1>Linked Concerts</h1>
        </div>

        <% concerts.forEach(function(concert) { %>
        <div>
          <h2><%= concert.concert.name %></h2>
          <% concert.associatedUsernames.forEach(function(username) { %>
          <p>Username: <%= username %></p>
          <% }); %>
        </div>
        <% }); %>
      </div>
      <div id="searchResultsContainer" class="searchResultsContainer"></div>
      <div id="paginationContainer" style="text-align: center">
        <button id="previousButton" style="margin-right: 5px; display: none">
          Previous
        </button>
        <button id="nextButton" style="margin-left: 5px; display: none">
          Next
        </button>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        document
          .getElementById("updateUsernameLink")
          .addEventListener("click", function () {
            var updateUsernameForm = document.querySelector(
              ".updateUsernameForm"
            );
            updateUsernameForm.style.display = "block";
          });
        var currentPage = 0;
        var pageSize = 10;
        var totalResults = 0;

        $("#searchForm").submit(function (event) {
          event.preventDefault();

          var searchKeyword = $("#searchInput").val();
          currentPage = 0;
          searchEvents(searchKeyword);
        });

        $("#previousButton").click(function () {
          currentPage--;
          var searchKeyword = $("#searchInput").val();
          searchEvents(searchKeyword);
        });

        $("#nextButton").click(function () {
          currentPage++;
          var searchKeyword = $("#searchInput").val();
          searchEvents(searchKeyword);
        });

        function searchEvents(keyword) {
          $.ajax({
            type: "GET",
            url: "https://app.ticketmaster.com/discovery/v2/events.json",
            async: true,
            dataType: "json",
            data: {
              keyword: keyword,
              page: currentPage,
              size: pageSize,
              sort: "date,asc",
              apikey: "83FaiAZhCP41A21Ku8BCVMDVxlV9UOO8",
            },
            success: function (json) {
              console.log(json._embedded.events);
              totalResults = json.page.totalElements;
              displaySearchResults(json._embedded.events);
            },
            error: function (xhr, status, err) {
              console.error(err);
            },
          });
        }

        function displaySearchResults(events) {
          var searchResultsContainer = $("#searchResultsContainer");

          if (currentPage === 0) {
            searchResultsContainer.empty();
          }

          events.forEach(function (event) {
            var resultElement = $("<div>")
              .addClass("searchResult")
              .hide()
              .append($("<h2>").text(event.name))
              .append($("<p>").text("Date: " + event.dates.start.localDate))
              .append($("<p>").text("ID: " + event.id))
              .append($("<a>").attr("href", event.url).text("View Details"))
              .append(
                $("<button>").text("Add Concert").addClass("addConcertButton")
              )
              .data("concert", {
                concertCode: event.id,
                name: event.name,
                date: event.dates.start.localDate,
                url: event.url,
              });

            searchResultsContainer.append(resultElement);

            setTimeout(function () {
              resultElement.addClass("loaded").show();
            }, 100 * (searchResultsContainer.children().length - 1));
          });

          $("#previousButton").toggle(currentPage > 0);
          $("#nextButton").toggle((currentPage + 1) * pageSize < totalResults);

          $(document).on("click", ".addConcertButton", function () {
            var concertData = $(this).closest(".searchResult").data("concert");

            $.ajax({
              url: "/concerts/new_concert",
              method: "POST",
              data: concertData,
              success: function (response) {
                console.log("Concert added:", response);

                var linkedUserConcertData = {
                  concertId: response.id,
                  userId: "<%= userData.id %>",
                };

                $.ajax({
                  url: "/linkedUserConcerts/new_linkedUserConcert",
                  method: "POST",
                  data: linkedUserConcertData,
                  success: function (linkedUserConcert) {
                    console.log("LinkedUserConcert added:", linkedUserConcert);
                  },
                  error: function (xhr, status, error) {
                    console.error("Error adding LinkedUserConcert:", error);
                  },
                });
              },
              error: function (xhr, status, error) {
                console.error("Error adding concert:", error);
              },
            });
          });
        }
        $("#logoutContainer").css({
          top: "10px",
          right: "10px",
        });
      });
    </script>
  </body>
</html>
